html {
  background-image: url("./assets/background/background.jpg");
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  font-family: serif;
}

header {
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: larger;
  flex-wrap: wrap;
  align-items: center;
}

.header-wrapper {
  padding-left: 2%;
}

.logo {
  height: 100px;
  width: 100px;
  background-color: black;
  border: 5px solid rgb(155, 0, 0);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.navActive {
  color: rgb(155, 0, 0);
  font-weight: bold;
}

header h1 {
  margin: 0;
}

header h2 {
  margin: 0;
  font-weight: lighter;
}

.logo-wrap {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1% 0 0 2%;
}

header a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}

nav {
  margin-right: 2%;
}

nav ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

nav li:hover {
  text-decoration: none;
  opacity: .7;
}

nav  li {
  list-style: none;
  cursor: pointer;
  margin: 0 15px 0 15px;
}

.about-me {
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 70%;
  padding-top: 5%;
}

.img-wrapper {
  width: 35%;
  padding-left: 2%;
  margin: none;
}

.about-me p {
 width: 50%;
 font-size: larger;
 font-family: optima;
}

.img-wrapper img {
  height: 250px;
  width: 250px;
  border: 5px solid white;
  border-radius: 50%;
  margin: 10%;
}

.resume {
  height: 100%;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  color: white;
  padding-top: 7%;
}

.download-wrapper {
  width: 100%;
  margin-bottom: 2%;
}

.resume a {
  text-decoration: none;
  color:white;
  padding-left: 4%;
  font-size: x-large;
  color: rgb(7, 154, 252);
}

.resume a:hover {
  opacity: .7;
}

.resume a span {
  padding-right: 10px;
}

.resume ul h2, .resume ul li {
  font-family: optima;
  list-style: none;
  padding: 1%;
}

.front-end, .back-end {
  margin-top: 2%;
  list-style: none;
  height: 100%;
  width: 40%;
  font-size: large;
}

main {
  height: 500px;
}

form {
  width: 40%;
  color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding: 3%;
  margin-top: 2%;
  margin-left: 2%;
}

form label {
  color: white;
  padding-right: 1%;
  width: 100%;
  font-family: optima;
  padding-bottom: 1%;
  padding-top: 2%;
}

.name-wrap, .email-wrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.message-wrap {
  margin-top: 3%;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
  background-color: white;
  border-radius: 10px;
  margin-top: 1%;
}

.btn-wrap {
  margin-top: 5%;
}

form button {
  font-weight: bolder;
  padding: 1%;
}

form button:hover {
  opacity: .7;
}

form input {
  border-radius: 5px;
}

form input:focus {
  border: 1px solid white;
  box-shadow: 0 0 .25rem rgba(255, 255, 255, .5);
}

.portfolio {
  height: 100%;
  padding-bottom: 5%;
}

.project {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2%;
}

.project img {
  height: 300px;
  width: 500px;
  border: 3px solid white;
}

.project-title, .project-git {
  position: relative;
  bottom: 110%;
  font-size: 38px;
  font-weight: bold;
  text-decoration: none;
  margin: none;
  padding: none;
  color: rgba(155, 0, 0, 0);
}

.project-icon {
  height: 75px;
  width: 75px;
}

.project-img{
  margin: 2%;
  text-align: center;
  height: 300px;
}


.project-img:hover .image-wrap {
  opacity: .3;
}

.project-img:hover .project-title,
.project-img:hover .project-git{
  color: red;
}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: black;
  z-index: 1;
}

.icon {
  height: 50px;
  width: 50px;
  color: rgb(151, 149, 149);
  padding: 0px 10px 5px 10px;
  background: transparent;
}

.icon:hover {
  opacity: .5;
}